* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header {
    background: #222;
    color: rgb(255, 255, 255);
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.logo span{
  color: red;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    color: red;
}

/* About Section */
.about {
    padding: 60px 40px;
    background: #f4f4f4;
}

.about h1 {
    text-align: center;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    color: rgb(136, 136, 136);
    margin-bottom: 40px;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about-text {
    flex: 1;
    padding: 20px;
}

.about-text h2 {
    margin-bottom: 15px;
}

.about-text p {
    line-height: 1.5;
    margin-bottom: 10px;
}

.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    width: 200px;
}

/* Stats */
.stats {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background:black;
    color: white;
}

.stat-box {
    text-align: center;
}

.stat-box h2 {
    font-size: 40px;
    color: red;
}
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
