* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */

.navbar {
    background: #000000;
    color: white;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: red;
}

.navbar input {
    flex: 1;
    padding: 8px;
    border-radius: 4px;
    border: none;
}

.navbar select {
    padding: 7px;
}

.Admin,
.Login,
.aboutus,
.signup {
    background: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
}

/* Category */

.category {
    background: #f5f5f5;
    padding: 10px 30px;
}

.category span {
    margin-right: 20px;
    cursor: pointer;
    font-weight: bold;
}

.banner-slider {
    width: 100%;
    height: 650px;
    position: relative;
    overflow: hidden;
}

/* Banner Image */
.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    background-size: cover;
    background-position: center;
}

/* Show Active Slide */
.slide.active {
    display: block;
}

/* Example Banner Images */
.slide:nth-child(1) {
    background-image: url("/static/images/conj4.webp");
}

.slide:nth-child(2) {
    background-image: url("/static/images/Chhaava.jpg");
    animation-delay: 3s;
}

.slide:nth-child(3) {
    background-image: url("/static/images/kgf.webp");
    animation-delay: 6s;
}
.slide:nth-child(4) {
    background-image: url("/static/images/dhurandhar.webp");
    animation-delay: 9s;
}
.slide:nth-child(5) {
    background-image: url("/static/images/rustom.jpg");
    animation-delay: 12s;
}
.slide:nth-child(6) {
    background-image: url("/static/images/the conjuring.jpg");
    animation-delay: 15s;
}
.slide:nth-child(7) {
    background-image: url("/static/images/oppen.jpg");
    animation-delay: 18s;
}
/* Text Overlay */
.banner-content {
    position: absolute;
    top: 60%;
    left: 20px;
    transform: translateY(-50%);
    color:white;
    max-width: 500px;
}

.banner-content h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.banner-content p {
    font-size: 20px;
    margin-bottom: 15px;
}

/* Button Style */
.banner-btn {
    padding: 10px 20px;
    background:red;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.banner-btn:hover {
    background:  orangered;
}


/* Animation */

@keyframes fadeSlide {

    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/* Movies Section */

.movies {
    background-color: #000000;
    padding: 40px;
}

.movie-container {
    display: flex;
    gap: 20px;
    margin-top: 15px;
    flex-wrap: wrap;
}

.movie-card {
    width: 220px;
    transition: 0.3s ease;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
    width: 100%;
    border-radius: 10px;
}

.movie-card h3 {
    margin-top: 10px;
}

.movie-card p {
    color: white;
}

.movie-card button {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Seat Booking */

.seat-booking {
    padding: 30px;
    text-align: center;
    background: #111;
    color: white;
}

.screen {
    background: white;
    height: 30px;
    width: 60%;
    margin: 15px auto;
    color: black;
    line-height: 30px;
}

.seats .row {
    display: flex;
    justify-content: center;
}

.seat {
    height: 25px;
    width: 25px;
    background: #444;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
}

.seat.selected {
    background: #6feaf6;
}

.seat.occupied {
    background: red;
    cursor: not-allowed;
}

.summary {
    margin-top: 15px;
    font-size: 18px;
}

/* Footer */

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
